@charset "UTF-8";

input[type="text"] {padding: 10px 0; width: 40%; color: #696969; vertical-align:middle}
input[type="image"] {display: inline-block; vertical-align: top;}

/* @font-face{ 
	font-family: 'MyWebFont';
	src: url('WebFont.eot');
	src: url('WebFont.eot?#iefix') format('embedded-opentype'),
	     url('WebFont.woff') format('woff'),
	     url('WebFont.ttf') format('truetype'),
	     url('WebFont.svg#webfont') format('svg');
} */

@font-face {
    font-family: 'luxury_royale_jfregular';
    src: url('luxury_royale_jf_regular-webfont.woff2') format('woff2'),
         url('luxury_royale_jf_regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

h1 { font-family: 'luxury_royale_jfregular', cursive; }

