@CHARSET "ISO-8859-1";

#content					{ 	background-color: #00008B;
								font-family: fantasy, sans-serif; 
								font-size: xx-large;
							}                                                                                                                               

.leftQuote 					{ color: gold;  }                                                                                                                                          
.rightQuote					{ color: gold;  }                                                                                                                                          

.quote						{ color: silver; }
/* .quote span:first-letter	{ color: red;   }  */	 /* TODO this does not work. */                                                    

cite 						{ color: #B8860B; font-size: x-large; }	                                                                                                                                                                
