@CHARSET "ISO-8859-1";

#content					{ 
								background-color: darkred;
								font-family: monospace, sans-serif;
								font-size: xx-large;                                                                                                                            
							}                                                                                                                               

.leftQuote 					{ color: silver;  }                                                                                                                                          
.rightQuote					{ color: silver;  }                                                                                                                                          

.quote						{ color: gold; }
/* .quote span:first-letter	{ color: red;   }  */	 /* TODO this does not work. */                                                    

cite 						{ color: #B8860B; font-size: medium; }	                                                                                                                                                                
