@CHARSET "ISO-8859-1";

body {
	margin: 0;
	padding: 1.5em;
	border-width: 50px;
	border-color: #666;
	border-style: ridge;
}


#content					{ 
								/* 
								background-color: darkred;
								font-family: monospace, sans-serif;
								font-size: xx-large;
								*/                                                                                                                            
							}                                                                                                                               

.leftQuote 					{ color: black;  }                                                                                                                                          
.rightQuote					{ color: black;  }                                                                                                                                          

.quote						{ color: gray; }
/* .quote span:first-letter	{ color: red;   }  */	 /* TODO this does not work. */                                                    

cite 						{ color: #B8860B; font-size: medium; }	                                                                                                                                                                


@media print {
	.footer { display: none; }
}