@CHARSET "ISO-8859-1";

/* body and footer formatting */
	
* {
	margin: 0;
}

html, body {
	height: 100%;
}

.wrapper {
	min-height: 100%;
	height: auto !important;
	height: 100%;
	margin: 0 auto -2em;
	display: table;
}

/* quote formatting */

#quoteFloater	{float:left; height:50%; margin-bottom:-120px;}
#header			{float:right; width:100%; text-align:center;}
#quoteContent	{clear:both; height:240px; position:relative;

#header h2 {
	background: lightgrey;
}

#quoteContent p { 
	font-size: 1em; 
	padding-bottom: 3em; 
	text-transform: lowercase; 
	font-family: Palatino, Times, "Times New Roman", Georgia, serif; 
	margin: 0;
	padding: 0; 
	}

#quoteContent blockquote {
	padding: 0; 
	margin: 0; 
	text-align: center; 
}
#quoteContent blockquote:first-letter {
	color:#ff0000;	
	font-size:xx-large;
}

#quoteContent blockquote p:before { 
	content: open-quote; 
	color:#ffffff; 
	font-size: 1.2em; 
	font-weight: bold; 
	font-family: Palatino, Times, "Times New Roman", Georgia, serif; 
}

#quoteContent blockquote p:after  { 
	content: close-quote; 
	font-size: 1.2em; 
	font-weight: bold; 
	font-family: Times, "Times New Roman", Georgia, serif; 
}

#quoteContent cite:before { 
	content: "-"; 
}

#quoteContent cite {
	display: block; 
	text-align: center; 
}

/* footer stuff */

.push {
	height: 2em;
}
.footer {
	height: 2em;
	background: lightgrey;
}
